In [1]:
import pandas as pd
import os

In [2]:
path = os.getcwd() + '/data/'

In [3]:
df = pd.read_csv(path +'yearly_full_release_long_format.csv')

In [4]:
df

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
1,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
3,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
4,Afghanistan,AFG,2000,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345025,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Fossil,mtCO2,0.00,0.00,NaN
345026,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00,0.00,NaN
345027,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Solar,mtCO2,0.00,0.00,NaN
345028,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Wind,mtCO2,0.00,0.00,NaN
345029,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,2.66,0.37,16.16

In [5]:
df.isnull().values.any()

np.True_

In [6]:
df = df.dropna()

In [7]:
df

,Area,Country code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
66,Afghanistan,AFG,2001,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,0.00,0.00
67,Afghanistan,AFG,2001,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,0.00,0.00
68,Afghanistan,AFG,2001,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,0.00,0.00
69,Afghanistan,AFG,2001,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,0.00,0.00
70,Afghanistan,AFG,2001,Country,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345017,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Aggregate fuel,Renewables,mtCO2,0.16,0.02,14.29
345019,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,CO2 intensity,CO2 intensity,gCO2/kWh,297.87,27.18,10.04
345021,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Coal,mtCO2,2.50,0.35,16.28
345023,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Hydro,mtCO2,0.14,0.00,0.00
345029,Zimbabwe,ZWE,2022,Country,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,2.66,0.37,16.16

In [8]:
df.describe()

,Year,EU,OECD,G20,G7,ASEAN,Value,YoY absolute change,YoY % change
count,142414.000000,142414.000000,142414.000000,142414.00000,142414.000000,142414.000000,142414.000000,142414.000000,142414.000000
mean,2012.279376,0.182945,0.264244,0.13722,0.054594,0.053394,42.064296,0.724455,11.099258
std,6.501350,0.386623,0.440931,0.34408,0.227188,0.224818,211.868234,13.901412,205.080541
min,2001.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-50.340000,-500.000000,-51275.000000
25%,2007.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.140000,0.000000,0.000000
50%,2013.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.160000,0.010000,0.210000
75%,2018.000000,0.000000,1.000000,0.00000,0.000000,0.000000,9.160000,0.170000,9.040000
max,2023.000000,1.000000,1.000000,1.00000,1.000000,1.000000,9456.450000,757.990000,24000.000000

In [9]:
df.to_csv(path+'preprocessed.csv')